<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

  <head>
    <title>Example Matter</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  </head>

  <body>
    <div class="matter">
    <h2>Changed the matter</h2>
    <p th:text="#{home.welcome}">and also the paragraph</p>
    </div>
  </body>
</html>