<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
<title>Example Matter</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<style type="text/css">

.location>div span:first-child {
	font-weight: bold;
	display: inline-block;
	width: 200px;
}

.location ul.phonenumbers {
	display: inline;
	list-style: square;
	padding-left: 0;
}

.location ul.phonenumbers li {
	display: inline;
}
/* openhtml2pdf can't handle li:not(last-child):after so we need a trick. We define the divider for all li elements
         and in another rule (see below) we define "empty" content for the last-child */
.location ul.phonenumbers li:after {
	content: ' \2022';
}

.location ul.phonenumbers li:last-child:after {
	content: '';
}

.location table.orderedItemsTable {
	margin-top: 25px;
	border-spacing: 0;
	width: 100%;
}

.location table.orderedItemsTable th {
	min-width: 80px;
	text-align: left;
	border-bottom: 1px solid black;
}

.location table.orderedItemsTable th:first-child {
	font-variant: small-caps;
	font-size: 22px;
}

.location table.orderedItemsTable td {
	vertical-align: baseline;
	padding-top: 10px;
}

.location table.orderedItemsTable .moneyCol {
	text-align: right;
}

.location table.orderedItemsTable td.intervalName {
	text-align: left;
	padding: 10px 0 0 0;
	font-weight: bold;
	font-size: 18px;
}

.location table.orderedItemsTable .productName {
	font-weight: bold;
}

.location table.orderedItemsTable .productName+* {
	margin: 0;
}
</style>
<script class="schema" type="application/json">
{
  "definitions" : {
    "itemsPerIntervalType" : {
      "type" : "array",
      "items" : {
        "type" : "object",
        "properties" : {
          "name" : {"type" : "string"},
          "date" : {"type" : "string", "format" : "date-time" },
          "netPrice" : {"type" : "string", "pattern" : "^\\d+,\\d{2}$"},
          "grossPrice" : {"type" : "string", "pattern" : "^\\d+,\\d{2}$"},
          "orderItemTexts" : { 
            "type" : "array",
            "items" : { "type" : "string" }
          } 
        },
        "required" : ["name", "date", "netPrice", "grossPrice", "orderItemTexts" ]
      }
    }
  },
  "type" : "object",
  "properties" : {
    "locations" : {
      "type" : "array",
      "items" : {
        "type" : "object",
        "properties" : {
          "phoneNumbers" : { 
            "type" : "array", 
            "items" : {
              "type" : "string",
              "pattern" : "^[0-9\\- \\(\\)]+$"
            }
          },
          "linkLocation" : { "type" : "string" },
          "billingAddress" : { "type" : "string" },
          "paymentMethod"  : { "type" : "string" },
          "itemsPerInterval" : {
            "type" : "object",
            "properties" : {
              "Payable Once" : { "$ref" : "#/definitions/itemsPerIntervalType"},
              "Payable Monthly" : { "$ref" : "#/definitions/itemsPerIntervalType"}
            }
          }
        },
        "required" : ["phoneNumbers", "linkLocation", "billingAddress", "paymentMethod", "itemsPerInterval"]
      }
    }
  },
  "required" : ["locations"] 
}
</script>
</head>

<body>
  <!-- all children of this will be added to the document in the composer because this div has the class "matter" -->
  <div class="matter">
    <div class="location" style="page-break-before: always;" th:each="location : ${locations}">
      <div>
        <span>Phonenumbers:</span>
        <ul class="phonenumbers">
          <li th:each="phoneNo : ${location.phoneNumbers}" th:text="${phoneNo}">555-1234</li>
          <!-- for layouting purposes we need some additional li elements to show how multiple li's would be rendered.
             but in a real document we don't want them. So we but an th:if="false" here so they will be present when
             template is shown in the browser directly -->
          <li th:if="false">555-fake</li>
        </ul>
      </div>
      <div>
        <span>Location:</span> <span th:text="${location.linkLocation}">Somewhere, over the Rainbow, 55546 Hawaii</span>
      </div>
      <div>
        <span>Billing Adress:</span> <span th:text="${location.billingAddress}">Letterbox 123, 76541 Cayman Islands</span>
      </div>
      <div>
        <span>Payment method:</span> <span th:text="${location.paymentMethod}">Paypal</span>
      </div>
      <table class="orderedItemsTable">
        <thead>
          <tr>
            <th>Ordered items</th>
            <th>Date</th>
            <th class="moneyCol">Net €</th>
            <th class="moneyCol">Gross €</th>
          </tr>
        </thead>
        <tbody>
          <!--/*
          we need th:block here so we can iterate over the map of intervals without generating a html element driectly.
          that is because we want to generate a tr for each interval and add the trs for the items of the 
          interval directly after that. So there is not "container" element which we could use 
          to add the th:each attribute to.
          
        */-->
          <!--/* 
          We want to print the intervals in a specific order: Monthly first, Once second. But the order in the map is not
          reliable. So we iterate over the defined keys in the map and access the map by that key
         */-->
          <!--/*/ <th:block th:each="interval : ${#strings.listSplit('Payable Monthly,Payable Once',',')}"> /*/-->
          <tr>
            <td class="intervalName" colspan="4" th:text="${interval}">Interval</td>
          </tr>
          <tr th:each="orderItem : ${location.itemsPerInterval[interval]}">
            <td><span class="productName" th:text="${orderItem.name}">The most awesome product</span>
              <ul th:if="${interval} != 'Payable Once'">
                <li th:each="oiText : ${orderItem.orderItemTexts}" th:text="${oiText}">Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis
                  nisl ut aliquip ex ea commodo consequat. Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugiat
                  nulla facilisis at vero eros et accumsan et iusto odio dignissim qui blandit praesent luptatum zzril delenit augue duis dolore te feugait nulla facilisi.</li>
                <li th:if="false">Additional Text to have some example data in the template which won't show in the final document</li>
              </ul></td>
            <td th:text="${#dates.format(orderItem.date,'dd.MM.yyy')}">24.12.2020</td>
            <td class="moneyCol" th:text="${orderItem.netPrice}">12,34</td>
            <td class="moneyCol" th:text="${orderItem.grossPrice}">14,68</td>
          </tr>
          <!--/*/ </th:block> /*/-->
        </tbody>
      </table>
    </div>
  </div>
</body>
</html>