<!doctype html>
<html> 
 <head>
  <link rel="stylesheet" type="text/css" href="/matter/orderpositions.html?type=css"> 
  <link rel="stylesheet" type="text/css" href="/matter/orderpositions.html?type=css"> 
  <link rel="stylesheet" type="text/css" href="/matter/textmodules/textmodul2.html?type=css"> 
  <link rel="stylesheet" type="text/css" href="/matter/textmodules/textmodul1.html?type=css"> 
  <link rel="stylesheet" type="text/css" href="/matter/textmodules/TextmodulesForSupplements/TCK009.html?type=css"> 
  <link rel="stylesheet" type="text/css" href="/matter/textmodules/TextmodulesForSupplements/TCK008.html?type=css"> 
  <link rel="stylesheet" type="text/css" href="/matter/textmodules/TextmodulesForSupplements/TCK007.html?type=css"> 
  <link rel="stylesheet" type="text/css" href="/matter/installationtable.html?type=css"> 
  <link rel="stylesheet" type="text/css" href="/matter/embedded.html?type=css"> 
  <link rel="stylesheet" type="text/css" href="/matter/postaladdress.html?type=css"> 
  <link rel="stylesheet" type="text/css" href="/matter/contact.html?type=css"> 
  <link rel="stylesheet" type="text/css" href="/matter/customerinfo.html?type=css"> 
  <meta charset="UTF-8"> 
  <title>Orderconfirmation</title> 
  <style type="text/css">
  @page {
    size: a4;
    margin: 139px 44px 150px 125px;
    
    @top-left {
      content: element(logo);
    }
    @top-right {
      content: element(claim);
    }
  }
  @page:first {
    @bottom-center {
      content: element(footer);
    }
    @top-left {
      content: element(logoP1);
    }
    @top-right {
      content: element(claimP1);
    }
  }
  @font-face {
    font-family: 'OpenSansCondensed';
    src: url(/matter/fonts/OpenSansCondensed-Light.ttf);
    font-weight: normal;
    font-style: normal; 
  }
  @font-face {
    font-family: 'OpenSansCondensed';
    src: url(/matter/fonts/OpenSansCondensed-Bold.ttf);
    font-weight: bold;
    font-style: normal; 
  }
  @font-face {
    font-family: 'OpenSansCondensed';
    src: url(/matter/fonts/OpenSansCondensed-LightItalic.ttf);
    font-weight: normal;
    font-style: italic; 
  }
  #footer {
    font-size:12px;
  }
  #footer > h2 {
    font-weight: bold;
    font-size:12px;
    font-variant:small-caps;
    margin-bottom:0;
  }
  #footer ul {
    margin:0;
    padding:0;
  }
  #footer li { 
    display:inline;
  }
  /*
  this works in the browser but not in openhtmltopdf
  #footer li:not(:first-child):before{
    content: " | ";
  } */ 
  .claim {
    text-align:right;
    font-size:10px;
  }
  .claim span:first-child {
    font-variant:small-caps;
    font-weight:bold;
  }
  .claim span:nth-child(2) {
    display:inline-block;
    width:50px;
    text-align:left;
    margin-left:5px;
  }
  .logo {
    display:block;
    font-size:10px;
    color:grey;
  }
  #page1Heading {
    counter-reset: pagecount;
  }
  .pagecounter:before {
    counter-increment: pagecount;
    content: counter(pagecount);
  }
  body {
    font-family: 'OpenSansCondensed',sans-serif;
    font-size: 18px;
  }
  h1 {
    color:#800080;
    font-variant:small-caps;
    margin-bottom: 2px;
    font-size:20px;
    font-weight: 900;
  }
  h1 + p {
    margin-top: 0px;
    margin-bottom: 20px;
  }
  h2 {
    margin: 2px 0;
    font-size:18px;
  }
  h2 + p {
    margin: 2px 0;
  }
  @media screen {
    #footer {
      display: none; 
    }
    .claim {
      display: none;
    }
    .logo {
      display: none;
    }
  }
  </style> 
  <script class="schema" type="application/json">
    {
      "type" : "object",
      "properties" : {
        "cases" : { 
          "type": "object",
          "properties" : {
            "installationNeeded" : { "type" : "boolean"},
            "supplements" : {"type" : "array", "items" : {"type": "string", "enum": ["TCK007", "TCK008", "TCK009"] }}
          } 
        }
      }
	}
  </script> 
 </head> 
 <body th:with="creationDate=${#dates.format(#dates.createNow(), 'dd.MM.yyyy')}" style="margin:0; padding:0;"> <!-- 
    START OF CONTENT IN THE MARGINS running through the whole document 
    * logo for the first page (logoP1) and for all other pages (logo)
    * claim on the fist page (claimP1) and on all other pages (claim)
    * footer (only on the first page)
  --> 
  <div class="logo" style="position: running(logoP1);" contenteditable="false"> 
   <img src="/matter/img/docproc.png"> <span>DocProc Document Composition, 98693 Ilmenau</span> 
  </div> 
  <div class="logo" style="position: running(logo);" contenteditable="false"> 
   <img src="/matter/img/docproc.png"> 
  </div> 
  <div class="claim" style="position: running(claimP1);" contenteditable="false"> 
   <img src="/matter/img/getItDone.png"> 
  </div> 
  <div class="claim" style="position: running(claim);" contenteditable="false"> 
   <img src="/matter/img/getItDone.png"> 
   <div> 
    <div> <span>Datum</span><span th:text="${creationDate}">25.06.2020</span> 
    </div> 
    <div> <span>Page</span><span class="pagecounter"></span> 
    </div> 
   </div> 
  </div> 
  <div id="footer" style="position: running(footer);" contenteditable="false"> 
   <h2>DocProc Document Composition</h2> 
   <ul> 
    <li>Office: Knowhere, Outer Rim Territories 123, 97612 Milkyway | </li> 
    <li>Postal: 54321 Galaxy | </li> 
    <li>Internet: https://gitlab.com/thuri/docproc</li> 
   </ul> 
   <ul> 
    <li>Board of Directors: Ernie Sesame (CEO) | </li> 
    <li>Management Board: Bert Sesame (Speaker), Samson Bear, Tiffy Bird, Oscar the Grouch, Finchen, Leonie Löwenherz, Kermet the Frog, Ms. Piggy, Gonzo, Elmo</li> 
   </ul> 
   <ul> 
    <li>Comm.-Register: Thunderdome HRB 666 | </li> 
    <li>Headquaters Coruscant | </li> 
    <li>Ust.-IdNr. DE123456789 | </li> 
    <li>WEEE-Reg.-Nr. DE98765432</li> 
   </ul> 
  </div> <!-- 
  END OF CONTENT IN THE MARGINS 
  --> <!--
  START OF FIRST PAGE HEAD
  * address field
  * contact info (webite, hotline number)
  * customer info (customernumber, ordernumber, date, page) 
  --> 
  <div style="overflow:hidden;" id="page1Heading" contenteditable="false"> <!-- 
  this is  a container element of the "documentdefinition which encapsulates and arranges the matter of addressfield, contact info and customer info--> 
   <div style="padding: 60px 0; width:47%; float:left;" data-matter-link="/matter/postaladdress.html" contenteditable="false"> 
    <div class="postaladress"> 
     <div th:text="${recipient.salutation}">
       Frau 
     </div> 
     <div> <span th:text="${recipient.givenname}">Ada</span><span th:text="${recipient.lastname}">Lovelace</span> 
     </div> 
     <div> <span th:text="${recipient.street}">Turing-Straße</span><span th:text="${recipient.houseNumber}">42</span> 
     </div> 
     <div> <span th:text="${recipient.postCode}">98693</span><span th:text="${recipient.city}">Ilmenau</span> 
     </div> 
    </div> 
   </div> 
   <div style="width:52%; float:right; overflow:hidden;"> 
    <div style="padding: 30px 0 30px 150px;" data-matter-link="/matter/contact.html" contenteditable="false"> 
     <div class="contact"> 
      <div>
        INTERNET 
      </div> 
      <div>
        https://gitlab.com/thuri/docproc 
      </div> 
      <div>
        SERVICE-TEAM 
      </div> 
      <div>
        555 13456789 
      </div> 
     </div> 
    </div> 
    <div data-matter-link="/matter/customerinfo.html" contenteditable="false"> 
     <div class="customerinfo"> 
      <div> <span>Customer information</span><span>For your inquiries</span> 
      </div> 
      <div> <span>Customer ID</span><span>1234567890</span> 
      </div> 
      <div> <span>Order ID</span><span>9876543210</span> 
      </div> 
      <div> <span>Datum</span><span th:text="${creationDate}">25.06.2020</span> 
      </div> 
      <div> <span>Page</span><span class="pagecounter"></span> 
      </div> 
     </div> 
    </div> 
   </div> 
  </div><!--
  END OF FIRST PAGE HEAD
  --> 
  <h1>Your order confirmation</h1> 
  <p><span>regarding the order on </span><span th:text="${creationDate}">26.05.2020</span></p> 
  <p class="greeting"> <span>Dear</span> <span th:text="${recipient.salutation}">Lady</span> <span th:text="${recipient.lastname}">Lovelace</span> </p> 
  <div> 
   <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam&nbsp; voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.</p>
   <p>Hallo Matthias und alle von DMS.&nbsp;</p> 
  </div> 
  <div contenteditable="false" data-matter-link="/matter/textmodules/textmodul2.html" th:if="${cases.installationNeeded} == false"> 
   <h2>Duis autem vel eum iriure</h2> 
   <p>Lorem ipsum dolor sit amet, consectetur adipisici elit, sed eiusmod tempor incidunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquid ex ea commodi consequat.</p> 
  </div> 
  <div data-matter-link="/matter/textmodules/TextmodulesForSupplements/TCK007.html" th:if="${#lists.contains(cases.supplements,'TCK007')} and ${cases.installationNeeded} == true" contenteditable="false"> 
   <div> 
    <h2>A TCK007 for you</h2> 
    <p>We're happy to tell you, that you're the lucky winner of the TCK007 supplement. Enjoy!</p> 
   </div> 
  </div> 
  <div data-matter-link="/matter/textmodules/TextmodulesForSupplements/TCK008.html" th:if="${#lists.contains(cases.supplements,'TCK008')} and ${cases.installationNeeded} == true" contenteditable="false"> 
   <div> 
    <h2>Another one!</h2> 
    <p>Your purchased packages come with a free TCK008 supplement!</p> 
   </div> 
  </div> 
  <div data-matter-link="/matter/textmodules/TextmodulesForSupplements/TCK009.html" th:if="${#lists.contains(cases.supplements,'TCK009')} and ${cases.installationNeeded} == true" contenteditable="false"> 
   <div> 
    <h2>And there is even more</h2> 
    <p>You're eligible to a free TCK009 supplement! You're welcome!</p> 
   </div> 
  </div> 
  <div data-matter-link="/matter/textmodules/textmodul1.html" th:if="${#lists.contains(cases.supplements,'TCK009')} and ${#lists.contains(cases.supplements,'TCK008')} and ${#lists.contains(cases.supplements,'TCK007')} and ${cases.installationNeeded} == true" contenteditable="false"> 
   <div> 
    <h2>At vero eos et accusam</h2> 
    <p>Consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. </p> 
   </div> 
  </div>
  <div contenteditable="false" data-matter-link="/matter/orderpositions.html">
   <div class="location" style="page-break-before: always;" th:each="location : ${locations}"> 
    <div> <span>Phonenumbers:</span> 
     <ul class="phonenumbers"> 
      <li th:each="phoneNo : ${location.phoneNumbers}" th:text="${phoneNo}">555-1234</li> <!-- for layouting purposes we need some additional li elements to show how multiple li's would be rendered.
             but in a real document we don't want them. So we but an th:if="false" here so they will be present when
             template is shown in the browser directly --> 
      <li th:if="false">555-fake</li> 
     </ul> 
    </div> 
    <div> <span>Location:</span> <span th:text="${location.linkLocation}">Somewhere, over the Rainbow, 55546 Hawaii</span> 
    </div> 
    <div> <span>Billing Adress:</span> <span th:text="${location.billingAddress}">Letterbox 123, 76541 Cayman Islands</span> 
    </div> 
    <div> <span>Payment method:</span> <span th:text="${location.paymentMethod}">Paypal</span> 
    </div> 
    <table class="orderedItemsTable"> 
     <thead> 
      <tr> 
       <th>Ordered items</th> 
       <th>Date</th> 
       <th class="moneyCol">Net €</th> 
       <th class="moneyCol">Gross €</th> 
      </tr> 
     </thead> 
     <tbody> <!--/*
          we need th:block here so we can iterate over the map of intervals without generating a html element driectly.
          that is because we want to generate a tr for each interval and add the trs for the items of the 
          interval directly after that. So there is not "container" element which we could use 
          to add the th:each attribute to.
          
        */--> <!--/* 
          We want to print the intervals in a specific order: Monthly first, Once second. But the order in the map is not
          reliable. So we iterate over the defined keys in the map and access the map by that key
         */--> <!--/*/ <th:block th:each="interval : ${#strings.listSplit('Payable Monthly,Payable Once',',')}"> /*/--> 
      <tr> 
       <td class="intervalName" colspan="4" th:text="${interval}">Interval</td> 
      </tr> 
      <tr th:each="orderItem : ${location.itemsPerInterval[interval]}"> 
       <td><span class="productName" th:text="${orderItem.name}">The most awesome product</span> 
        <ul th:if="${interval} != 'Payable Once'"> 
         <li th:each="oiText : ${orderItem.orderItemTexts}" th:text="${oiText}">Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugiat nulla facilisis at vero eros et accumsan et iusto odio dignissim qui blandit praesent luptatum zzril delenit augue duis dolore te feugait nulla facilisi.</li> 
         <li th:if="false">Additional Text to have some example data in the template which won't show in the final document</li> 
        </ul></td> 
       <td th:text="${#dates.format(orderItem.date,'dd.MM.yyy')}">24.12.2020</td> 
       <td class="moneyCol" th:text="${orderItem.netPrice}">12,34</td> 
       <td class="moneyCol" th:text="${orderItem.grossPrice}">14,68</td> 
      </tr> <!--/*/ </th:block> /*/--> 
     </tbody> 
    </table> 
   </div>
  </div> 
  <div data-matter-link="/matter/installationtable.html" th:if="${cases.installationNeeded}" contenteditable="false"> 
   <div class="installationtable"> 
    <p>Our technician is coming to you. Please take a bit time for him.</p> 
    <hr> 
    <div> 
     <div class="iconcolumn" style="float: left;margin: 15px 0 auto 15px;"> 
      <img src="/matter/img/timer.png"> 
     </div> 
     <div class="dateAndPlace"> 
      <p><span>Date of delivery:</span><span>26.07.2020</span></p> 
      <p><span>Arrival of technician:</span><span>08:00 - 16:00</span></p> 
      <p><span>Address of access:</span><span>c/ Jorge Juan, 106, 28009 Madrid</span></p> 
     </div> 
     <div class="dateAndPlace"> 
      <p><span>Date of delivery:</span><span>26.07.2020</span></p> 
      <p><span>Arrival of technician:</span><span>08:00 - 16:00</span></p> 
      <p><span>Address of access:</span><span>C/ Alcalá, 48, 28014 </span></p> 
     </div> 
    </div> 
    <div style="clear: both;"> 
     <div class="iconcolumn" style="float: left;margin: 0 0 15px 15px;"> 
      <img src="/matter/img/tools.png"> 
     </div> 
     <p style="float: right;width: 500px;margin: 0;">Consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergre</p> 
    </div> 
    <hr style="clear: both;"> 
   </div> 
  </div>  
 </body>
</html>